body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  min-height: 80vh;
}
h3{
  padding:1rem 0;
}
h1{
  font-size: 1.8rem !important;
  padding:1rem !important;
}
h2{
  font-size: 1rem !important;
  padding:0.5rem 0 !important;
}
.rating span{
  margin:0.1rem;
}
/* button mercadopago */
.mercadopago-button {
  padding: 0 1.7142857142857142em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 2.7142857142857144;
  background: #009ee3;
  border-radius: 0.2857142857142857em;
  color: #fff;
  cursor: pointer;
  border: 0;
  width: 100%;
  height: 100%;
}
#button-checkout{
  background-color: #009ee3 !important;

}
.mercadopago-button{
  background-color: #009ee3 !important;
}
.mercadopago-button-error {
  padding: 0 1.7142857142857142em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 2.7142857142857144;
  background: #dc3545;
  border-radius: 0.2857142857142857em;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.mercadopago-button-pending {
  padding: 0 1.7142857142857142em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 2.7142857142857144;
  background: #ffc107;
  border-radius: 0.2857142857142857em;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.mercadopago-button-success {
  padding: 0 1.7142857142857142em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  line-height: 2.7142857142857144;
  background: #28a745;
  border-radius: 0.2857142857142857em;
  color: #fff;
  cursor: pointer;
  border: 0;
}